<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Tabla De Usuarios</h4>
                      <p class="card-category"> Información General</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                     Nombre
                                  </th>
                                  <th>
                                     Identificación
                                  </th>
                                  <th>
                                    Ciudad
                                  </th>
                                  <th>
                                    Localidad
                                  </th>
                                  <th>
                                    Direccion
                                  </th>
                                  <th>
                                    Nuevo Pedido
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                        <td>
                                          1
                                        </td>
                                        <td>
                                          Dakota Rice
                                        </td>
                                        <td>
                                          Niger
                                        </td>
                                        <td>
                                          Oud-Turnhout
                                        </td>
                                        <td class="text-primary">
                                          $36,738
                                        </td>
                                        <td>
                                        Oud-Turnhout
                                        </td>
                                        <td>
                                            <button mat-raised-button type="button" matTooltip="Agregar Pedido" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </td>
                                  </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Tabla De Pedidos </h4>
                      <p class="card-category"> Informacion Pedidos</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                    Ciudad
                                  </th>
                                  <th>
                                    Localidad
                                  </th>
                                  <th>
                                    Direccion
                                  </th>
                                  <th>
                                    IdCliente
                                  </th>
                                  <th>
                                    Detalle
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Dakota Rice
                                      </td>
                                      <td>
                                          Niger
                                      </td>
                                      <td>
                                          Oud-Turnhout
                                      </td>
                                      <td>
                                          $36,738
                                      </td>
                                      <td>
                                        <button mat-raised-button type="button" matTooltip="Detalle Pedido" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
                                      </td>
                                  </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
